body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}


header{

background: rgba(229, 84, 115, 0.10);
}
.header-section{
margin-left: 240px;
margin-right: 240px;
display: flex;
justify-content: space-between;
}
#header-caption{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
#first-div{
    margin-top: 197px;
    margin-bottom: auto;
    width: 700px;
}
#second-div{
    margin-top: 50px;
  
}
.first-div p{
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.btn{
border-radius: 8px;
background: #E55473;
/*for button text*/
color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;

padding: 20px 43px;
}
.featured-flowers{
margin-top: 178px;
margin-left: 240px;
margin-right: 240px;
}
.featured-text{
width: 800px;
text-align: center;
margin: auto;
}
#para-font{
    font-size: 25px;
}
.featured-text h3{
    font-weight: 800;
    font-size: 40px;
}
.picture {
display: flex;
justify-content: space-between;
}
.picture img{


}

.imgs{
width: 464px;
height: 538px;

}
#st-img{
border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
padding: 100px;

}
#sst-img{
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
padding: 100px;
}
#ssst-img{
border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
padding: 100px;
}
#img-i{
    margin-top: 207px;
    margin-left:45px ;
}
#img-j{
    margin-top: 180px;
    margin-left: 45px;
}
#img-k{
    margin-top: 164px;
    margin-left: 65px;
}
.picture h5{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
}
.trd{
    display: flex;
    justify-content: space-between;
}
#ddd{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 429px;
}
#cp{
    color: #272727;
font-family: Lato;
font-size: 40px;
font-weight: 800;
margin-left: 423px;
margin-top: 230px;

}
#asd{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
line-height: 30px;
margin-left: 395px;
font-weight: 400px;
margin-right: 186px;
width: 600px;
}
#lo{
    margin-left: 603px;
}
.tdr{
border-radius: 8px;
background-color: #E554730D;
}
#qw{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;

}
.off{
    color: #E55473;
}
#tan{
    border-top: 128px;
    border-bottom: 128px;
    border-left: 240px;
    border-right: 240px;
}
#df{
    color: #27272799;
    border-left: 663px;
    border-right: 663px;
}
#vv{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-left: 663px;
margin-right: 663px;
}
.tu{
    display: flex;
    justify-content: space-between;
    margin-left: 240px;
    margin-right: 240px;
}
#op{
    
}
#oop{
    
}
.d1 img{
    width: 500px;
    height: 600px;
}

.subscribe{
    margin: 80px 240px;
    height: 450px;
    border-radius: 8px;
background: url('../images/Rectangle 9.png');
 background-repeat: no-repeat;
 background-size: cover;
}
.subs-div{
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-top: 120px;
}
.subs-div h2{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.input-feild{
    display: flex;;
}
.inpt{
    width: 700px;
height: 64px;
border-radius: 8px;
background: #FFF;
}

footer{
    background-color: black;
    height: 450px;
    margin-top: 130px;
    color: white;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.footer{
padding-top: 130px;
}
.footer h2{
    font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
}